img{
    width: 100%;
    height: 300px;
    border-radius: 10px;

}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0a3d62;
    font-weight: 600;
    font-size: 20px !important;
}
h4 img{
  width: 20px;
  height: 20px;
}
h2 img{
    width: 25px;
    height: 25px;
  }

  .EventDetails{
    text-align: justify;
    font-size: 15px;

  }
  h4 {
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    font-weight: 600;
    font-size: 18px !important;
  }

  .button{
    width: 100%;
    letter-spacing: 2px;
    font-weight: 500 !important;
    padding: 5px;
    border: none;
    border-radius: 20px;
    background-color:#0a3d62 !important;
    color: #ffff !important;

}

.form-group{
  margin-bottom: 15px;
}
.button-1{
  background-color:#228eb6 !important;
  color: #ffff;
  text-transform: uppercase;
  padding: 5px 30px;
  border-radius: 5px;
  letter-spacing: 2px;
  outline: none;
  border: none;
  font-weight: 500 !important;
}

.button-2{
  background-color: #0a3d62 !important;
  color: #ffff;
  text-transform: uppercase;
  padding: 5px 30px;
  border-radius: 5px;
  letter-spacing: 2px;
  outline: none;
  border: none;
  font-weight: 500 !important;

}

label{
  font-size: 14px !important;
  font-weight: 600 !important;
}



.first-word {
  color: #0a3d62 !important;
}

.second-word {
  color: #60a3bc !important; 
}

h2{
  color: #0a3d62 !important;

}
h2 span{
  color: #60a3bc !important; 

}
.Eventplace{
  color: #60a3bc !important;
}
.Eventplace i{
  color: #0c2461;
}
.time{
  color: #2f3542 !important;
}
.time i{
  color: #0a3d62 !important;
}
ul li{
  margin-bottom: 10px !important;
  font-size: 15px !important;
  text-align: justify;

}

.swal-custom-title {
  font-size: 10px !important; 
}

.modal-title{
  color: #0a3d62 !important;
}

.modal-title span{
  color: #228eb6 !important;
}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background:#f5f6fa !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5 !important;

}

.wavy span{
  position: relative;
  display: inline-block;
  color: black;
  font-size: 1.4rem;
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
  font-weight: 600 !important;
  margin: 2px;
}

@keyframes animate{
  0%{
      transform: translateY(0px);
  }
  20%{
      transform: translateY(-10px);
  }
  40%,100%{
      transform: translateY(0px);
  }
}



@media screen and (max-width: 600px) {
 ul li{
  font-size: 10px !important;
 }
 p{
  font-size: 10px !important;
 }
 h2{
  font-size: 14px !important;
 }
 h4{
  font-size: 14px !important;

 }
 .button{
  font-size: 12px !important;
 }
}