<app-navbar></app-navbar>
<div class="container mb-5" style="margin-top: 100px ;">
    <div class="row">
        <div class="col-md-10 mt-3">
            <img [src]="EventDetail?.EventMainImage" alt="">
        </div>
        <div class="col-md-10 mt-4 ">
           <div class="row">

            <div class="col-md-6">
              <h2 class="mb-3">
                <span class="first-word">{{ EventDetail?.EventTitle }}</span>
              </h2>                
              <h4 class="mb-3 time"><i class="fa-solid fa-calendar"></i> {{EventDetail?.EventDate | date:'dd-MM-YYY'}} <i class="fa-solid fa-clock fa-flip"></i> {{EventDetail?.StartTime}} - {{EventDetail?.EndTime}} </h4>
            </div>

            <div class="col-md-6">
                <h2 class="Eventplace"><i class="fa-solid fa-location-dot fa-beat"></i> {{EventDetail?.EventPlace}}</h2>
                <div class="row">
                    <div class="col-md-6">
                        <button data-bs-toggle="modal" class="button" data-bs-target="#staticBackdrop" >Register</button> 
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <!-- <h4><span>NUMBER OF PERSON ALLOWED:</span> {{EventDetail.PersonAllowed}} <span>ALREADY APPLIED:</span> 0</h4> -->
            </div>
            <div class="col-md-12">
                <h2>Event <span>Description</span></h2>
                <p class="EventDetails text-muted">
                    {{EventDetail?.EventDetails}}
                </p>
            </div>
            <div class="col-md-12">
                <h2>Rules & <span>Instruction</span></h2>
               <ul>
                <li class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam qui ex assumenda molestias doloribus harum, veritatis illo vel voluptatem, aliquam itaque animi tempore asperiores consequatur magnam illum eum provident obcaecati?</li>
                <li class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas necessitatibus nobis sequi temporibus et, odio repellat magni consequuntur nisi maxime, voluptates possimus odit laudantium asperiores illum ab expedita harum quidem.</li>
                <li class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, exercitationem. Soluta reiciendis culpa necessitatibus qui dolore velit libero, nam nulla sapiente illum. Soluta aliquid blanditiis obcaecati facere magni ex placeat!</li>
                <li class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi eligendi ad velit officia libero voluptas, laboriosam nulla minima soluta beatae. Quidem animi quas deserunt officia beatae repudiandae ducimus, culpa amet!</li>
                <li class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi eligendi ad velit officia libero voluptas, laboriosam nulla minima soluta beatae. Quidem animi quas deserunt officia beatae repudiandae ducimus, culpa amet!</li>
               </ul>
                
         
            </div>
        </div>
    </div>
</div>
</div>

<app-footer></app-footer>



<div class="loading-overlay" *ngIf="isLoading" >
    <div class="wavy"> <span style="--i:1;">L</span><span style="--i:2;">O</span><span style="--i:3;">A</span><span style="--i:4;">D</span><span style="--i:5;">I</span><span style="--i:6;">N</span><span style="--i:7;">G</span><span style="--i:8;">.</span><span style="--i:9;">.</span><span style="--i:10;">.</span></div>
</div>





  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="staticBackdropLabel">REGISTER <span>FORM</span></h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="form">
            <div class="form-group">
              <label >Roll No <span class="text-danger">*</span></label>
              <input type="text" pattern="^[a-zA-Z0-9]*$" class="form-control form-control-sm" [(ngModel)]="model.RollNo"  (blur)="OnBlurRollNo($event)" minlength="6" maxlength="14">
            </div>
            <div class="form-group">
              <label >Full Name <span class="text-danger">*</span></label>
              <input type="text" pattern="^[a-zA-Z ]*$" class="form-control form-control-sm" [(ngModel)]="model.FullName"  (blur)="OnBlurName($event)" minlength="4" maxlength="50" >
            </div>
            <div class="form-group">
              <label >DOB <span class="text-danger">*</span></label>
              <input type="date" class="form-control form-control-sm" [(ngModel)]="model.DOB"   [max]="this.model.DOB">
            </div>
            <div class="form-group">
              <label >Email address <span class="text-danger">*</span></label>
              <input type="email" class="form-control form-control-sm" [(ngModel)]="model.EmailAddress" (blur)="onblurEmailAddress($event)"   >
            </div>
            <div class="form-group">
              <label >Phone No <span class="text-danger">*</span></label>
              <input type="text" pattern="[0-9]*" minlength="10" maxlength="10" class="form-control form-control-sm" [(ngModel)]="model.PhoneNo" (blur)="OnBlurPhoneNo($event)"  >
            </div>
            <div class="form-group">
              <label >College Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="model.CollegeName" pattern="^[a-zA-Z ]*$" (blur)="OnBlurCollege($event)" minlength="4" maxlength="50">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1"> select Department <span class="text-danger">*</span></label>
              <select class="form-control"  [(ngModel)]="model.Department" id="exampleFormControlSelect1">
                <option value="CSE">CSE</option>
                <option value="ECE">ECE</option>
                <option value="MECH">MECH</option>
                <option value="EEE">EEE</option>
                <option value="AUTO">AUTO</option>
              </select>
            </div>
          </div>
         
        <div class="modal-footer d-flex">
         
           
              <button class="button-1" >Clear</button>
           
          
              <button class="button-2" (click)="onSubmit($event)">Submit</button>
           
          
        </div>
      </div>
    </div>
  </div>


