<app-navbar></app-navbar>
<div class="container"  style="margin-top: 100px ;">
    <div class="row">
      <div class="col-md-12">
        <h2>{{param}}</h2>
        <h4 class="mb-3 time"><i class="fa-solid fa-calendar mx-2"></i> 13.03.2024 <i class="fa-solid fa-location-dot fa-beat mx-2"></i> avvaiyar arakam </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, atque reprehenderit neque quasi voluptate repudiandae. Veritatis itaque perferendis, sunt quibusdam quos commodi repellendus eligendi molestiae fuga debitis consequatur autem eius?
          Dicta consequatur quo est necessitatibus dolor voluptatibus maiores id molestiae delectus numquam aut, ad ullam iste eos cupiditate voluptatem quod. Deserunt, ipsam quam exercitationem cupiditate doloremque culpa voluptate quisquam sit.
          Aut architecto nemo cumque labore eaque, hic odio, repellendus temporibus doloremque magnam iusto eveniet alias? Non recusandae, in doloribus, laudantium quis placeat amet, nisi modi deleniti ullam eveniet iusto molestias.
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, atque reprehenderit neque quasi voluptate repudiandae. Veritatis itaque perferendis, sunt quibusdam quos commodi repellendus eligendi molestiae fuga debitis consequatur autem eius?
          Dicta consequatur quo est necessitatibus dolor voluptatibus maiores id molestiae delectus numquam aut, ad ullam iste eos cupiditate voluptatem quod. Deserunt, ipsam quam exercitationem cupiditate doloremque culpa voluptate quisquam sit.
          Aut architecto nemo cumque labore eaque, hic odio, repellendus temporibus doloremque magnam iusto eveniet alias? Non recusandae, in doloribus, laudantium quis placeat amet, nisi modi deleniti ullam eveniet iusto molestias.
        </p>
      </div>
        <div class="col-md-12">
            <h4>GLIMPSE OF <span>EVENT</span></h4>
              
            <div class="img-box">
                <div id="lightgallery" class="gallery">
                    <a href="../assets/1.jpg">
                      <img src="../assets/1.jpg" class="img-fluid" alt="Image 1">
                    </a>
                   
                    <a href="../assets/3.jpg" class="v-strech">
                      <img src="../assets/3.jpg" class="img-fluid" alt="Image 3">
                </a>
                <a href="../assets/4.jpg" class="h-strech">
                    <img src="../assets/4.jpg" class="img-fluid" alt="Image 1">
                  </a>
                  <a href="../assets/5.jpg">
                    <img src="../assets/5.jpg" class="img-fluid" alt="Image 2">
                  </a>
                  <a href="../assets/6.jpg">
                    <img src="../assets/6.jpg" class="img-fluid" alt="Image 3">
              </a>
              <a href="../assets/7.jpg">
                <img src="../assets/7.jpg" class="img-fluid" alt="Image 3">
          </a>
          <a href="../assets/8.jpg" class="v-strech">
            <img src="../assets/8.jpg" class="img-fluid" alt="Image 3">
      </a>
      <a href="../assets/10.jpg">
        <img src="../assets/10.jpg" class="img-fluid" alt="Image 2">
      </a>
      <a href="../assets/9.jpg" class="h-strech">
        <img src="../assets/9.jpg" class="img-fluid" alt="Image 3">
  </a>

  <a href="../assets/2.jpg">
    <img src="../assets/2.jpg" class="img-fluid" alt="Image 2">
  </a>
  
            </div>

        </div>
    </div>
</div>
</div>
<app-footer></app-footer>