
<nav class="navbar navbar-expand-lg navbar-light bg-light px-2 py-3 shadow fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand mx-2">DASH<span>BOARD</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link " routerLink="EventList">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  >Registeration </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus">Announcement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactus">Events Upload </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactus">Staff</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>