


  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow px-2 py-3 s fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mx-2">DASH<span>BOARD</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="dropdown-item" (click)="events()">
              Events
            </button>
        </li>
          <li class="nav-item">
            <button class="dropdown-item">Announcement</button>
          </li>
          <li class="nav-item ">
              
            <button class="dropdown-item" (click)="Registerationlist()">
              Registeration List            </button>

        
          </li>
          <li class="nav-item">
            
            <button class="dropdown-item" (click)="EventUpload()">
              Upload Events </button>


                 </li>
        </ul>
       
      </div>
    </div>
  </nav>