nav a{
    color: #302e2e !important;
    font-size: 15px;
    font-weight: 500;
  
}
nav a:hover{
    color: #60a3bc !important;
}
.navbar-brand {
    font-weight: 600 !important;
}

.navbar-brand{
    color: #0c2461;
}
.navbar-brand span{
    color: #60a3bc !important;

}
