p{
    text-align: justify !important;
}
img{
    border-radius: 10px !important;
}

h5 span{
    color: #60a3bc !important;
}
h5{
    color: #3c6382 !important;
}

button{
    background-color: #3c6382 !important;
    color: #fff !important;
    letter-spacing: 2px !important;
    border: none !important;
}
label{
    font-size: 14px !important;
}