
<app-navbar></app-navbar>


<div class="container" style="margin-top: 120px !important;">
    <div class="row">
        
        <div class="col-md-6">
            <div class="mapouter mt-5"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=600&amp;hl=en&amp;q=mahendra institute of technology&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://mcpepro.com/">MCPEPRO</a></div><style>.mapouter{position:relative;text-align:right;width:600px;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:600px;height:400px;}.gmap_iframe {width:600px!important;height:250px!important;}</style></div>

        </div>
            
        <div class="col-md-5 px-3 mb-3">
            <h5 class="mb-3">CONTACT <span> US</span></h5>

            <div class=" mb-2">
                <label class="form-label">Name</label>
                <input type="text" class="form-control form-control-sm"  >
            </div>

            <div class=" mb-2">
                <label class="form-label">Phone</label>
                <input type="text" class="form-control form-control-sm "  >
            </div>
            <div class=" mb-2">
                <label class="form-label">Message</label>
                <textarea  class="form-control form-control-sm"   name="" id="" cols="20" rows="4"></textarea>
            </div>


            <div class=" mb-3">
               <button class="w-100">SEND MESSAGE</button>
            </div>

        </div>

    </div>
</div>



<app-footer></app-footer>