.fa-x{
    font-size: 25px;
    cursor: pointer;
}
.btn-1{
   border: none;
   padding:10px 15px;
   margin: 5px;
   border-radius: 4px;
   background-color: rgb(39, 174, 96);
   color: rgb(236, 240, 241);
}

.btn-2{
    border: none;
    padding:10px 15px;
    margin: 5px;
    border-radius: 4px;
    background-color:rgb(245, 59, 87);
    color: rgb(236, 240, 241);
 }
 table{
    width: 100%;
 }
 table th{
    font-weight: 450;
    letter-spacing: 2px;
    color: black ;
 }
 table td{
    font-weight: 400;
 }