<footer>
    <div class="container p-5">
      <div class="row">
        <div class="col-md-4">
          <div class="clg">
            <h3>XYZ</h3>
          <a> INSTITUTE OF TECHNOLOGY</a>
          </div>
          <address>
            Salem-Thiruchengode Highway, Mahendhirapuri, Mallasamudram, Namakkal DT, Tamilnadu, India.
          </address>
          <span> <i class="fa-solid fa-phone"></i> +91 9629108882</span> <br>
          <span ><i class="fa-solid fa-envelope"></i>  XYZevent22gmail.com</span><br>
          <span><i class="fa-solid fa-earth-americas"></i> www.XYZ.org</span>
        </div>
        <div class="col-md-4">
           <h4 style="font-size: 18px;">QUICK LINKS</h4>
           <span class="line"></span>

          <ul class="mt-4">
            <li><i class="fa-solid fa-angle-right"></i> <a href="#" class="link">Home</a></li>
            <li><i class="fa-solid fa-angle-right"></i> <a href="#"class="link">events</a></li>
            <li><i class="fa-solid fa-angle-right"></i> <a href="#"class="link">contact us</a></li>
            <li><i class="fa-solid fa-angle-right"></i> <a href="#"class="link">about us</a></li>
 
          </ul>
        </div>
        <div class="col-md-4">
            <h4 style="font-size: 18px;">Follow Us</h4>
            <span class="line"></span>

         <div class="social-link">
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook-f"></i>
         </div>
        </div>
        <div class="col-md-12 pt-4">
          <p class="text-center">copyright<i class="fa-solid fa-copyright"></i>2022 xyz.all rights reserved</p>
        </div>
      </div>
    </div>
  </footer>