
span{
    letter-spacing: 2px;
}



h4{
    font-size: 14px !important;
    line-height: 2px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase !important;
}

.box:hover{
    background-color: #0c2461 !important;
    color:#fff !important;
    transition: all 0.3s ease-in;
    font-family: "Poppins", sans-serif;
}
.box:hover span{
  font-weight: 500;
}
.box:hover h4{
    font-weight: 500;
    letter-spacing: 1px;
  }

span{
    font-size: 12px;
    margin: 4px;
    font-weight: 500;

}



.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:#f5f6fa !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5 !important;
  
  }
  
  .wavy span{
    position: relative;
    display: inline-block;
    color: black;
    font-size: 1.4rem;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
    font-weight: 600 !important;
    margin: 2px;
  }
  
  @keyframes animate{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-10px);
    }
    40%,100%{
        transform: translateY(0px);
    }
  }


  .navbar-brand{
    color: #0c2461;
}
.navbar-brand span{
    color: #60a3bc !important;

}

h5{
  color: #0c2461 !important;
  font-weight: 600;
  text-transform: uppercase !important;

}
h5 a{
  color: #60a3bc !important;
}